* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

body video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

body .container {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .login_register, body .container .index {
  background: #f3f3f3;
  text-align: center;
  border: 4px solid grey;
  -webkit-box-shadow: 0 0 10px #fafafa;
          box-shadow: 0 0 10px #fafafa;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  margin: 5% auto auto auto;
}

body .container .login_register #message, body .container .index #message {
  font-weight: bold;
  color: darkred;
  margin-bottom: 10px;
}

body .container .index {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* scroll bar */
}

body .container .index::-webkit-scrollbar {
  width: 0px;
}

body .container .index header nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .index header nav ul li {
  list-style: none;
  margin-right: 5px;
}

body .container .index .body #emails-view #main #inbox_table {
  border: 1px solid #e1e1e1;
  width: 100%;
  table-layout: fixed;
}

body .container .index .body #emails-view #main #inbox_table tr {
  position: relative;
  border-bottom: 1px solid  #e1e1e1;
  height: 2.5em;
  cursor: pointer;
}

body .container .index .body #emails-view #main #inbox_table tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .container .index .body #emails-view #main #inbox_table tr td .fa-circle {
  font-weight: bold;
  color: #007BFF;
}

body .container .index .body #emails-view #main #inbox_table tr .archive_bin, body .container .index .body #emails-view #main #inbox_table tr .unarchive_bin {
  position: static;
  font-weight: bold;
  color: #DC3545;
}

body .container .index .body #emails-view #main #inbox_table tr .archive_bin:hover, body .container .index .body #emails-view #main #inbox_table tr .unarchive_bin:hover {
  color: darkred;
}

body .container .index .body #emails-view #main #inbox_table tr:hover {
  background: lightgrey;
}

body .container .index .body #emails-view #main #inbox_table .unread {
  background: white;
}

body .container .index .body #emails-view #main #inbox_table tbody {
  border-bottom: 1px solid  #e1e1e1;
}

body .container .index .body #emails-view #main #inbox_table tbody tr th:first-child, body .container .index .body #emails-view #main #inbox_table tbody tr th:last-child {
  width: 50px;
}

body .container .index .body #emails-view #main #inbox_table tbody tr th:nth-child(2) {
  width: 20%;
}

body .container .index .body #emails-view #main #inbox_table tbody tr th:nth-child(4) {
  width: 30%;
}

body .container .index .body #emails-view .email-view {
  text-align: left;
}

body .container .index .body #emails-view .email-view span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .container .index .body #emails-view .email-view span h4 {
  margin: 0;
}

body .container .index .body #emails-view .email-view span p {
  margin: 0 0 0 5px;
  height: inherit;
}

body .container .index .body #emails-view .email-view span .email-time {
  font-size: 0.7em;
}

body .container .index .body #emails-view .email-view #icon_span .icon-div {
  margin-left: auto;
  margin-right: 5px;
}

body .container .index .body #emails-view .email-view #icon_span .icon-div button {
  margin-right: 5px;
}

body .container .index .body #emails-view .email-view .email-body {
  border: 1px solid #e1e1e1;
  padding: 20px 10px;
  height: 40vh;
  overflow: scroll;
  white-space: pre-wrap;
  /* scroll bar */
}

body .container .index .body #emails-view .email-view .email-body::-webkit-scrollbar {
  width: 0px;
}

body .container .index .body #emails-view .reply-form {
  display: none;
}

body .container .index .body #emails-view .reply-form form textarea {
  width: 100%;
  height: 16vh;
  background: #fafafa;
  outline: none !important;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 0 10px #e1e1e1;
          box-shadow: 0 0 10px #e1e1e1;
  white-space: pre-wrap;
}

body .container .index .body #emails-view .reply-form form textarea::-webkit-scrollbar {
  width: 15px;
}

body .container .index .body #emails-view .reply-form form textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body .container .index .body #emails-view .reply-form form textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body .container .index .body #emails-view .reply-form form input[type=Submit] {
  width: 100%;
  margin-top: 5px;
}

body .container .index .body #compose-view {
  width: 95%;
  margin: auto;
}

body .container .index .body #compose-view #compose-form {
  text-align: left;
  padding: 10px;
}

body .container .index .body #compose-view #compose-form textarea {
  height: 35vh;
}

body .container .index .body #compose-view #compose-form input[type=submit] {
  margin-top: 15px;
  width: 100%;
}

.alt {
  position: relative;
}

.alt .alttext {
  display: block;
  overflow: visible;
  opacity: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #e1e1e1;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 3px 5px 5px;
  font-size: 0.75em;
  /* Position the tooltip */
  position: absolute;
  z-index: 11;
  -webkit-transition: opacity 0.1s linear 1s;
  transition: opacity 0.1s linear 1s;
}

.alt:hover .alttext {
  opacity: 1;
}

@media only screen and (max-width: 460px) {
  body .container .index header h2 {
    font-size: 1.8em;
  }
  body .container .index header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 255px;
    margin: auto;
  }
  body .container .index header nav ul li {
    margin-right: 0;
  }
  body .container .index header nav ul li button, body .container .index header nav ul li a {
    width: 100%;
    font-size: 0.8em;
  }
  body .container .index header nav ul li:last-child {
    margin-top: 10px;
    width: 100%;
  }
  body .container .index .body #emails-view #main #inbox_table tbody td:first-child, body .container .index .body #emails-view #main #inbox_table tbody th:first-child, body .container .index .body #emails-view #main #inbox_table tr td:first-child, body .container .index .body #emails-view #main #inbox_table tr th:first-child {
    display: none;
  }
  body .container .index .body #emails-view #main #inbox_table tbody td:nth-child(2), body .container .index .body #emails-view #main #inbox_table tbody th:nth-child(2), body .container .index .body #emails-view #main #inbox_table tr td:nth-child(2), body .container .index .body #emails-view #main #inbox_table tr th:nth-child(2) {
    padding-left: 10px;
  }
  body .container .index .body #emails-view #main #inbox_table tbody td:nth-child(3), body .container .index .body #emails-view #main #inbox_table tbody th:nth-child(3), body .container .index .body #emails-view #main #inbox_table tr td:nth-child(3), body .container .index .body #emails-view #main #inbox_table tr th:nth-child(3) {
    width: 20%;
  }
  body .container .index .body #emails-view #main #inbox_table tbody td:nth-child(4), body .container .index .body #emails-view #main #inbox_table tbody th:nth-child(4), body .container .index .body #emails-view #main #inbox_table tr td:nth-child(4), body .container .index .body #emails-view #main #inbox_table tr th:nth-child(4) {
    display: none;
  }
  body .container .index .body #emails-view #main #inbox_table tbody td:nth-child(5), body .container .index .body #emails-view #main #inbox_table tbody th:nth-child(5), body .container .index .body #emails-view #main #inbox_table tr td:nth-child(5), body .container .index .body #emails-view #main #inbox_table tr th:nth-child(5) {
    width: 13%;
  }
  body .container .index .body #emails-view #main #inbox_table tbody td:nth-child(6), body .container .index .body #emails-view #main #inbox_table tbody th:nth-child(6), body .container .index .body #emails-view #main #inbox_table tr td:nth-child(6), body .container .index .body #emails-view #main #inbox_table tr th:nth-child(6) {
    width: 25px !important;
  }
}

@media only screen and (max-width: 400px) {
  body .container .index {
    padding: 20px 10px;
  }
  body .container .index header h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  body .container .index .body #compose-view {
    min-width: 0px;
    width: 100%;
  }
  body .container .index .body #compose-view #compose-form {
    width: inherit;
  }
}

@media only screen and (max-width: 500px) {
  body .container .index .body #emails-view .email-view #icon_span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .container .index .body #emails-view .email-view #icon_span .icon-div {
    margin: 10px 0;
  }
}
/*# sourceMappingURL=styles.css.map */